<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Expense</title>
<link rel="stylesheet" th:href="@{/expense.css}">
</head>

<body>

<div class="container">

<h2>Add Expense</h2>

<form th:action="@{/save-expense}" th:object="${expense}" method="post">

<label>Expense Name</label>
<input type="text" th:field="*{expenseName}" required>

<label>Amount</label>
<input type="number" th:field="*{amount}" required>

<label>Date</label>
<input type="date" th:field="*{date}" required>

<label>Description</label>
<input type="text" th:field="*{description}">

<br>

<button class="btn add-btn">Save Expense</button>

</form>

</div>

</body>
</html>