<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Expense</title>
<link rel="stylesheet" th:href="@{/expense.css}">
</head>

<body>

<div class="container">

<h2>Edit Expense</h2>

<form th:action="@{/update-expense}" th:object="${expense}" method="post">

<input type="hidden" th:field="*{id}" />

<label>Expense Name:</label>
<input type="text" th:field="*{expenseName}" />

<label>Amount:</label>
<input type="number" step="0.01" th:field="*{amount}" />

<label>Date:</label>
<input type="date" th:field="*{date}" />

<label>Description:</label>
<input type="text" th:field="*{description}" />

<br><br>

<button class="btn edit-btn">Update</button>

</form>

</div>

</body>
</html>